{% extends "base.html.twig" %}

{% block title %}
	Car Dealer Page !
{% endblock %}


{% block body %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Car App Dealer !
		</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="form-inline my-2 my-lg-0 d-flex justify-content-between" action="{{ path('app_car') }}" method="get">
				<div>
					<input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search" name="search">
				</div>
				<select class="form-control" name="category">
					<option value="">All categories</option>
					{% for category in categories %}
						<option value="{{ category.id }}">{{ category.name }}</option>
					{% endfor %}
				</select>
				<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
			</form>


		</div>
	</nav>


	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

				{% for car in pagination %}
					<div class="col mb-5">
						<div class="card h-100">
							<img
							class="card-img-top" src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" alt="...">
							<!-- Product details-->
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">{{ car.name }}</h5>
									<!-- Product details-->
									<p>Nombre de sièges:
										{{ car.nbSeats }}</p>
									<p>Nombre de portes:
										{{ car.nbDoors }}</p>
									<p>Prix:
										{{ car.cost }}
										€</p>
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto" href="#">Achat</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
			<div class="d-flex justify-content-center">
				{{ knp_pagination_render(pagination) }}
			</div>
		</div>
	</section>

{% endblock %}
